
<h1><%= user.name %></h1>
<div class="postFormContainer">
    <div class="userImageContainer">
        <img src="<%= user.profilePic %> "alt="your image">
    </div>
    <div class="textareaContainer">
        <textarea id="posttextarea" placeholder="whats happening" ></textarea>
        <div class="buttonsContainer">
            <button id="submitpost" type="submit" disabled >post</button>
        </div>
    </div>
</div>

<div class="postsContainer"></div>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="repkyModalLabel">Reply</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="originalPost"></div>
            <div class="postFormContainer">
                <div class="userImageContainer">
                    <img src="<%= user.profilePic %> "alt="your image">
                </div>
                
                <div class="textareaContainer">
                    <textarea id="replytextarea" placeholder="Type" ></textarea>
        </div>
        
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="submitReplyButton" type="button" class="btn btn-primary" disabled>Reply</button>
        </div>
      </div>
   
    </div>
  </div>


  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModal">Delete the post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p> Want to Delete this</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="deletePostButton" type="button" class="btn btn-primary" >Delete</button>
        </div>
      </div>
   
    </div>
  </div>

  <div class="modal fade" id="confirmPinModal" tabindex="-1" role="dialog" aria-labelledby="confirmPinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModal">Pin the post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p> This post will appear at the top of your profile, You can only pin one Post</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="confirmPinButton" type="button" class="btn btn-primary" >Pin</button>
        </div>
      </div>
   
    </div>
  </div>

  <div class="modal fade" id="unpinModal" tabindex="-1" role="dialog" aria-labelledby="unpinModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unpinModal">Unpin the post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p> This post will br unpinned</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="unpinButton" type="button" class="btn btn-primary" >Unpin</button>
        </div>
      </div>
   
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>



