
 <link rel="stylesheet" href="<%= assetPath('css/message.css') %>">

 
<div class="resultsContainer">

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="<%= assetPath('js/inbox.js') %>"></script>