<link rel="stylesheet" href="<%= assetPath('css/message.css') %>">


<div class="chatPageContainer">
    <div class="chatTitleBar">
        <label for="userSearchTextBox">To:</label>
        <div class="selectedUsers">
            <input id="userSearchTextBox" type="text" placeholder="type the name of person">

        </div>
    </div>



<div class="resultsContainer">
</div>
<button id="createChatButton" disabled>Create Chat</button>


</div>
<script>
    var user="<%= user._id %>"
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="<%= assetPath('js/new_message.js') %>"></script>
