<link rel="stylesheet" href="/css/notifications.css">

<div class="resultsContainer">
    
</div>
<script>
    var user="<%= user._id %>"
  </script>
  

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script src="/js/sockets.js"></script>
<script src="js/notification.js"></script>