:root{
    --blue: #1FA2F1;
    --blueLight: #9BD1F9;
    --blueBackground: rgba(212, 237, 255, 0.6);
    --buttonHoverBg: #d4edff;
    --lightGrey: rgb(230, 236, 240);
    --spacing: 15px;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0,0.34);
    --red: rgb(226,34,94);
    --redBackground: rgba(226,34,94,0.1);
    --green: rgb(23,191,99);
    --greenBackground: rgba(23,191,99,0.1);
}
ul{
    margin: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 300;
}

*{
    outline: none !important;
}

a{
    color: inherit;
}
.yu{
    color: var(--blue)
}

h1 {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}


a:hover{
    color: inherit;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%
}

nav a{
    display: flex;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    color: #212529;
    position: relative;
}




nav a:hover{
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-radius: 50%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper > .row {
    margin: 0;
    height: 100%;
}
button{
    background-color: transparent;
    border: none;
    color: var(--greybuttonText);
}
button i,button span{
    pointer-events: none;
}
.mainSectionContainer{
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;


}
.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);

}
h1{
    font-size: 19px;
    font-weight: 800;
}

.titleContainer h1{
    flex: 1;
}

.postFormContainer{
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230,236,240) ;
}
.modal .postFormContainer {
    border: none;
    padding: 0;
    padding-top: var(--spacing);
}

.modal .post {
    padding: 0 0 var(--spacing) 0;
}
.userImageContainer{
    width: 50px;
    height: 50px;

}
.userImageContainer img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}
.textareaContainer{
    flex: 1;
    padding-left: var(--spacing);
}
.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitpost{
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}
#submitpost:disabled{
    background-color: var(--blueLight);
    color: var(--lightGrey);
}
a{
    text-decoration: none;
}

.post{
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--lightGrey);
    
}
.mainContentContainer{
    flex: 1;
    display: flex;
    overflow-y: hidden;

}
.postContentContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.username,.date{
    color: var(--greyText)
}
.displayname{
    font-weight: bold;
    
}
.postFotter{
    display: flex;
    align-items: center;

}
.postFotter .postButtonContainer{
    flex: 1;
    display: flex;

}
.postFotter .postButtonContainer button{
  padding: 2px 5px;
}

.header a:hover{
    text-decoration: underline;

}

.header a,.header span{
    padding-right: 5px;
}
.postButtonContainer button:hover{
    background-color: #d4edff;
    color: var(--blue);
    border-radius: 50%;

}
.postButtonContainer.red button.active{
    color: var(--red);
}
.postButtonContainer.red button:hover {
    color: var(--red);
    background-color: var(--redBackground)
}

.postButtonContainer.green button.active{
    color: var(--green);
}
.postButtonContainer.green button:hover {
    color: var(--green);
    background-color: var(--greenBackground)
}


.postActionContainer{
    padding-left: 35px;
    font-size: 13px;
    color: var(--greyText);
    margin-bottom: 5px;
}

.modal .postFormContainer{
    border: none;
    padding: 0;
    padding-top: var(--spacing);

}

.modal .post{
    padding: 0 0 var(--spacing);
}

.postContentContainer .header{
    display: flex;
}

.header .date{
    flex:1;
}

.pinButton.active{
    color: var(--blue);

}
.pinnedPostText{
    font-size: 12px;
    color: var(--greybuttonText)
}

#notificationBadge,#messagesBadge{
    background-color: var(--red);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#notificationBadge.active,#messagesBadge.active{
    visibility: visible;
}


.mainSectionContainer {
    padding:  0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 300;
}
* {
    outline: none !important;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper > .row{
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none;
}
.resultsContainer{
    display: flex;
    flex-direction: column;
}
.mainSectionContainer {
    padding:  0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.chatPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.chatTitleBar{
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;

}

.chatTitleBar label{
    margin: 0 10px 0 0;

}

#userSearchTextBox{
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}
#createChatButton{
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: var(--greyText);
}
.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing)
}

.selectedUser{
    font-weight: 300;
    background-color: #CBE5FE;
    color: #0084ff;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem{
    padding: 7px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);

}

.resultListItem:hover{
    background-color: #f2f2f2;

}
.resultsDetailsContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.resultsDetailsContainer .heading{
    font-weight: 500;

}
.resultsDetailsContainer .subText{
    color: var(--greyText);
    font-size: 14px;
}
.resultListItem img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.resultsImageContainer{
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.groupChatImage img{
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 3px solid #fff;
    
}
.replyFlag {
    margin-bottom: 5px;
}

.replyFlag a {
    color: var(--blue);
}


.groupChatImage img:first-of-type{
    top: 0;
    right: 0;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resultListItem.active{
    background-color: rgba(212, 237, 255, 0.6);
}
.resultListItem.notification *{
    pointer-events: none;
}

.notificationList{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 350px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    --webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);



}

.notificationList .active{
    background-color: white;
}

.leaveChat{
    pointer-events: painted;
}


