a{
    text-decoration: none;
}
.resultsContainer{
    display: flex;
    flex-direction: column;
}
.mainSectionContainer {
    padding:  0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.titleContainer h1 {
    flex: 1;
}

.chatPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.chatTitleBar{
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;

}

.chatTitleBar label{
    margin: 0 10px 0 0;

}

#userSearchTextBox{
    border: none;
    flex: 1;
    font-weight: 200;
    min-width: 350px;
}
#createChatButton{
    border: none;
    background-color: var(--blue);
    color: #fff;
    padding: 7px 20px;
    margin: 10px auto;
    border-radius: 40px;
}

#createChatButton:disabled {
    background-color: var(--lightGrey);
    color: var(--greyText);
}
.noResults {
    padding: var(--spacing);
}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--lightGrey);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing)
}

.selectedUser{
    font-weight: 300;
    background-color: #CBE5FE;
    color: #0084ff;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem{
    padding: 7px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);

}

.resultListItem:hover{
    background-color: #f2f2f2;

}
.resultsDetailsContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.resultsDetailsContainer .heading{
    font-weight: 500;

}
.resultsDetailsContainer .subText{
    color: var(--greyText);
    font-size: 14px;
}
.resultListItem img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.resultsImageContainer{
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.groupChatImage img{
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 3px solid #fff;
    
}

.groupChatImage img:first-of-type{
    top: 0;
    right: 0;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leaveChat{
    pointer-events: painted;
}  
    